:root {
    --bgcolor: #FCEFE8;
    --primary: #ED5736;
    --secendory: #426666;
    --third: #F9906F;
    --chinese: "Ma Shan Zheng";
    --english: "Rubik";
    --title: "Sulphur Point"
}

body {
    background-color: var(--bgcolor);
    background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");
    color: var(--secendory);
    margin: 50px;
    padding-top: 70px;
    font-family: var(--english), sans-serif
}

.chinese-text{
    font-family: var(--chinese), sans-serif;
    font-size: x-large;
}

.page-header {
    color: var(--bgcolor);
    font-family: var(--title), sans-serif;
}

.bg-color1{
    background-color:var(--third);
    opacity: 90%;
}

.color1{
    color:var(--primary);
}

.color2 {
    color: var(--secendory);
}

.site-header .navbar-nav .nav-link {
    color: var(--primary);
    padding: 25px;
}

a:hover {
    color: var(--secendory);
}

.btn-section{
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 10px;
}
.btn-section:hover{
    color: var(--bgcolor);
    background-color: var(--primary);
}

.btn-section.active{
    color: var(--bgcolor);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 10px
}

.site-header .navbar-nav .nav-link:hover {
    color: var(--bgcolor);
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 900;
}

.sizing{
    padding:300px;
    margin: 20px;
}

.form-section{
    background-color: var(--bgcolor);
    border: #BAB2B5 solid 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.post-section {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: larger;
    color: var(--primary);
    font-family: var(--title), sans-serif;
}

.article-author {
    color: var(--secendory);
    margin-left: 20px;
    margin-right: 30px;
    padding-bottom: 50px;
}

.article-author:hover{
    color: var(--primary);
}
.article-metadata{
    padding-bottom: 10px;
}

.article-title {
    padding: 20px;
    color: var(--primary);
    margin-top: 20px;
}

.article-title:hover {
    color: var(--secendory);
}

.article-content {
    padding: 20px;
}

.article-img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 16px;
}
