:root {
    --bgcolor: #fffffc;
    --primary: #9d2933;
    --secendory: #50616d;
    --third: #463f3a;
    --english: "Nunito";
    --title: "La Belle Aurore";
    --sub-title: "Noto Sans";
}

body {
    background-color: var(--bgcolor);
    background-image: url("https://www.transparenttextures.com/patterns/rice-paper-2.png");
    color: var(--secendory);
    font-family: var(--english), sans-serif;
    min-height: 100vh;
    padding-bottom: 20px;
}

a:hover {
    text-decoration: none;
}

.site-header {
    position: absolute;
    top:0;
    width: 100%;
    height: 304px;
    background-image: url("lisong.jpg");
    background-size: auto;
    z-index: -1;
    opacity: 90%;

}

.home-section {
    position: relative;
    top: 300px;
    padding-bottom: 40px;
    margin-top: -50px;
}

.search {
    border-radius: 10px;
    border: 2px solid var(--bgcolor);
    background-color: var(--bgcolor);
    color: var(--third);
}

.nav-brand:hover {
    text-decoration: none;
}

.image {
    max-width: 100px;
    height: auto;
    width: auto\9;
}

.center{
    margin: auto;
    width: 90%;
}

@media screen and (min-width: 701px) {
    div.page-header {
        color: var(--primary);
        font-family: var(--title), sans-serif;
        padding: 20px 0 10px 10px;
        display: inline-block;
        font-size: 50px;
        font-weight: bolder;
    }

}

@media screen and (max-width: 700px) {
    div.page-header {
        color: var(--primary);
        font-family: var(--title), sans-serif;
        display: inline-block;
        font-size: 40px;
        font-weight: bolder;
    }
    div.home-section {
        position: relative;
        top: 250px;
        padding-bottom: 40px;
        margin-top: -50px;
}

}

.color1{
    color:var(--primary);
}

.color2 {
    color: var(--secendory);
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -20px;
    overflow-x: hidden;
    padding-top: 20px;
    opacity: 40%;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--secendory);
    display: block;
    opacity: 60%;
}

.sidenav a:hover {
    color: var(--secendory);
    opacity: 90%;
}

.about {
    position: fixed;
    bottom: 0;
    right: 25px;
}

a:hover {
    color: var(--secendory);
}

.btn-section{
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 10px;
    opacity: 80%;
}
.btn-section:hover{
    color: var(--bgcolor);
    background-color: var(--primary);
}

.btn-danger {
    border-radius: 10px;
}
.btn-section.active{
    color: var(--bgcolor);
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 10px
}

img{
    max-width: 100%;
    height: auto;
}

.form-section{
    background-color: var(--bgcolor);
    border: #BAB2B5 solid 1px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    width: 70%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (min-width: 701px) {
    div.account {
        width: 50%;
    }
}

.article-center {
    margin: auto;
    width: 70%;
    padding: 10px;
    position: center;
}

.post {
    background-color: var(--bgcolor);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
    div.account {
        width: 90%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .article-center {
        margin: auto;
        width: 95%;
        padding: 10px;
        position: center;
    }

    div.post {
        background-color: var(--bgcolor);
        border-radius: 5px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 20px 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

}



.account-img {
  height: 100px;
  width: 100px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 30px;
}

.post-section {
    font-size: x-large;
    color: var(--third);
    font-family: var(--sub-title), sans-serif;
}

.tag-title {
    font-size: x-large;
    color: var(--third);
    font-family: var(--sub-title), sans-serif;
    display: inline-block;
}




.article-author {
    color: var(--secendory);
    margin-right: 30px;
    padding-bottom: 50px;
}

.article-author:hover{
    color: var(--primary);
}
.article-metadata{
    padding-bottom: 10px;
}

.article-title {
    padding: 5px;
    color: var(--primary);
    font-size: x-large;
}

.article-title:hover {
    color: var(--secendory);
}


.post-title {
    color: var(--primary);
    font-size: xx-large;
    text-align: center;
}

.article {
    height: 100vh;
}

.edit-icon {
    color: var(--primary);
    float: right;
    padding: 5px;
}

.chinese {
    font-family: KaiTi, monospace;
    font-size: larger;
    padding: 5px;
}

.article-content {
    padding: 5px;
    font-family: var(--english);
}

.limit {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: 6em;
}


.article-img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-bottom: 1px;
}


.modal-content {
    background-color: var(--bgcolor);
    color: var(--secendory);
}

.title {
    font-family: var(--title);
    font-size: xx-large;
    font-weight: bolder;
    margin: auto;
    padding-right:20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.modal-body {
    margin: auto;
    width: 80%;
    font-family: var(--english);
    padding: 20px;
    color: var(--third);
    text-align: center;
    font-size: large;
}

.copy-link {
    color: var(--primary)
}

.close {
    position: absolute;
    right: 5px;
    color: var(--primary);
}

.icon {
    padding: 10px;
    color: var(--primary)
}

.icon:hover {
    opacity: 70%;
}


.tag {
    font-size: small;
    color: var(--primary);
    margin-right: 20px;
    margin-left: 10px;
}


.time {
    float: right
}

.search-section {

    border-radius: 17px;
}


.register {
    height: 100vh;
}

.tags-section {
    border-radius: 15px;
    margin-top: 10px;
    background-color: rgba(157, 41, 51, 0.7);
    color: var(--bgcolor);
    padding: 5px;
}

.tags-section:hover{
    color: var(--bgcolor);
    opacity: 80%;
}
