{% extends "layout.html" %}
{% block content %}

<p class="lead">Don’t do what I did. After I earned my Ph.D., I pieced together adjunct work,
    tried to publish, and hoped for an improvement that never materialized in the tenure-track market.
    I thought a Ph.D. would bring me "the life of the mind" — instead, it left me with debt, depression, no health insurance,
    and uncertain employment prospects. Like so many Ph.D.s, I was ill-equipped to make a career transition out of academe.
    Was I even good at anything else? Eventually I transformed that predicament into a career.
    Today I run Beyond the Professoriate, an organization I founded in 2017 to provide professional
    development and career education for Ph.D.s.
</p>
{% endblock %}