{% extends "layout.html" %}
{% block content %}
    <header>
          <img class="image" src="static\logo.png" alt="logo">
          <div class="page-header" href="/">The Forest of Translations</div>
      </header>
    <div class="container form-section">
        <form method="post" action="">
            {{form.hidden_tag()}}
            <div class="form-group">
                {{form.email.label(class="form-control-label")}}
                {% if form.email.errors %}
                    {{form.email (class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.email(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.password.label(class="form-control-label")}}
                {% if form.password.errors %}
                    {{form.password (class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.password(class="form-control form-control-lg")}}
                {% endif %}
            </div>
            <div class="form-group">
                {{form.remember}}
                {{form.remember.label}}
            </div>
            <div class="form-group">
                {{form.submit(class="btn btn-section")}}
            </div>
            <small class="text-muted">
                    <a class="color1" href="{{ url_for('request_reset_password') }}">Forgot Password?</a>
            </small>
        </form>
    </div>
    <div class="container">
        <small class="text-muted">
            Do you need an account? <a class="color1" href="{{url_for('register')}}" >Sign Up</a>
        </small>
    </div>

{% endblock content %}
