{% extends "layout.html" %}
{% block content %}


    <div class="container">
    <article class="article">
        <div class="media-body">
            <div class="post-title article-center">{{ post.title }}</div>
            <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{url_for('static', filename='profile_pics/' + post.author.image_file)}}">
                <a class="article-author" href="{{url_for('user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%b %d, %Y %X')}}</small>

                {% if post.author == current_user %}
                    <a class="edit-icon" href="{{url_for('update_post', post_id=post.post_id)}}"><i class='far fa-edit' style='font-size:16px'></i></a>
                    <a class="edit-icon" href="#" data-toggle="modal" data-target="#deletepost"><i class="fa fa-remove" style="font-size:16px"></i></a>
                {% endif %}
            <hr>
                <p class="chinese article-center">{{ post.chinese_content }}</p>
                <p class="article-content article-center">{{ post.content }}</p>
            </div>
        </div>
    <hr>
        <div class="row">
            <a href="#" class="col-sm-1 tag">
                {% for tag in post.tags %}
                    {{ tag.name }}
                {% endfor %}
            </a>
        </div>
    </article>


    <div class="modal fade" id="deletepost" tabindex="-1" role="dialog" aria-labelledby="deletepost" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deletepost">Delete Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the post?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-section" data-dismiss="modal">Cancel</button>
              <form action="{{url_for('delete_post', post_id=post.post_id)}}" method="post">
                <input class="btn btn-danger" type="submit" value="delete">
              </form>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}