{% extends "layout.html" %}
{% block content %}
    <h3 class="post-section">POSTS</h3>
    <article class="media form-section">
        <img class="rounded-circle article-img" src="{{url_for('static',
         filename='profile_pics/' + post.author.image_file)}}">
      <div class="media-body">
        <div class="article-metadata">
            <a class="article-author" href="{{url_for('user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%x, %X')}}</small>

          {% if post.author == current_user %}
                <a class="edit-icon" href="{{url_for('update_post', post_id=post.id)}}"><i class='far fa-edit' style='font-size:21px'></i></a>
                <a class="edit-icon" href="#" data-toggle="modal" data-target="#deletepost"><i class="fa fa-remove" style="font-size:24px"></i></a>
          {% endif %}
            <h3><a class="article-title">{{ post.title }}</a></h3>
            <p class="chinese">{{ post.chinese_content }}</p>
            <p class="article-content">{{ post.content }}</p>
      </div>
      </div>
    </article>
    <div class="modal fade" id="deletepost" tabindex="-1" role="dialog" aria-labelledby="deletepost" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deletepost">Delete Post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the post?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <form action="{{url_for('delete_post', post_id=post.id)}}" method="post">
                <input class="btn btn btn-danger" type="submit" value="delete">
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}