{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="col-lg-8 mb-5">
        <div class="post-section">Tag: {{ tag_name }} ({{posts.total}})</div>
            {% for post in posts.items %}
                <article class="media post">
                    <img class="rounded-circle article-img" src="{{url_for('static',
                     filename='profile_pics/' + post.author.image_file)}}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="article-author" href="#">{{ post.author.username }}</a>
                            <small class="text-muted">{{ post.date_posted.strftime('%b %d, %Y %X')}}</small>
                        </div>
                            <a class="article-title" href="{{url_for('post', post_id=post.post_id)}}">{{ post.title }}</a>
                            <p class="chinese limit">{{ post.chinese_content }}</p>
                            <p class="article-content limit">{{ post.content }}</p>
                        <hr>
                        <div class="row">
                                {% for tag in post.tags %}
                                    <a href="{{ url_for('search_tag', tag=tag.name)}}" class="col-sm-1 tag">
                                    {{ tag.name }}
                                {% endfor %}
                            </a>
                        </div>
                    </div>
                </article>
            {% endfor %}
    </div>
</div>
{% endblock %}